{{ define "title"}}Password Reset{{ end }}

{{ define "content" }}
<div class="container">

  <form class="form-signin" action="" method="post">
    <h2 class="form-signin-heading">Set New Password</h2>
    {{ if .error }}
    <p class="text-danger">{{ .error }}</p>
    {{ end }}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
    <label for="inputPassword2" class="sr-only">Confirm Password</label>
    <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div> <!-- /container -->
{{ end }}
