<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-block">
      Hi {{.name}},<br/><br/>
      You have been invited to {{.company}} by {{.invitedBy}}.
    </td>
  </tr>
  <tr>
    <td class="content-block">
      Please accept the invitation by clicking the link below.
    </td>
  </tr>
  <tr>
    <td class="content-block">
      <a href="{{.invitationURL}}" class="btn-primary">Accept invitation</a>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      Best,<br/><br/>
      &mdash; The {{.company}} Team
    </td>
  </tr>
</table>
