<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top">
            <div>
                <h1 class="h1">Reset Your Password</h1>
                Hi {{.name}},<br/><br/>
                We have reset your {{.company}} password. Follow the link bellow to set a new password.<br/><br/>
                Best,<br/>
                The {{.company}} Team<br/><br/>
            </div>
        </td>
    </tr>
    <tr>
        <table id="buttonContainer">
            <tr>
                <td align="center"><a href="{{.passwordResetURL}}" target="_blank">Reset password</a></td>
            </tr>
        </table>
    </tr>
</table>
